.container{
    width: 100%;
    height: 100%;
    padding:170px 165px 140px ;
    background-color: var(--light-gray);
    position: relative;
}
.checkout-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    padding-top: 56px;
}
.alertWrapper{
    position: absolute;
    top: 12%;
    padding: 0px 165px;
    left: 0%;
    min-width: 250px;
}
.spinnerWrapper {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.checkout-container .checkout-leftSide{
    width: 65%;
    height: auto;
    border-radius: 8px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 41px;
    padding: 54px 48px 48px;
}
.checkout-leftSide h3{
    color: var(--black);
    font-family: "Manrope";
    font-size: 32px;
    font-weight: 700;
    line-height: 1.125em;
    letter-spacing: 1.143px;
    text-transform: uppercase;
}
.checkout-leftSide .checkout-billingDetails,
.checkout-leftSide .checkout-shippingInfo,
.checkout-leftSide .checkout-paymentDetails{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.checkout-leftSide .checkout-billingDetails .mainSpan,
.checkout-leftSide .checkout-shippingInfo .mainSpan,
.checkout-leftSide .checkout-paymentDetails .mainSpan{
    color: var(--orange);
    font-family: "Manrope";
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.92em;
    letter-spacing: 0.929px;
    text-transform: uppercase;
}

.checkout-leftSide .checkout-billingDetails .flex-input{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
}
.checkout-leftSide .checkout-shippingInfo .flex-input{
    padding-top: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.checkout-leftSide .checkout-paymentDetails .payment-method{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.checkout-leftSide .checkout-paymentDetails .payment-flex{
    min-width: 40%;
    padding-top: 17px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
}
.checkout-leftContainer-footer{
    padding-top: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.checkout-leftContainer-footer .footer-flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
}
.checkout-leftContainer-footer .logoSide{
    min-width: 20%;
    flex-shrink: 0;
}
.checkout-leftContainer-footer .textSide{
    max-width: 600px;
}
.checkout-leftContainer-footer .textSide .footerSpan{
    color: rgba(0, 0, 0, 0.5);
    font-family: "Manrope";
    font-size: 15px;
    font-weight: 400;
    line-height: 1.66em;
}
.checkout-container .checkout-rightSide{
    width: 35%;
    height: auto;
    border-radius: 8px;
    background: var(--white);
    padding: 32px 33px;
}
.checkout-rightSide .checkoutList{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
.checkout-rightSide .checkoutList h4{
    color: var(--black);
    font-family: "Manrope";
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.286px;
    text-transform: uppercase;
}
.checkout-rightSide .checkoutList .list{
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.checkout-rightSide .checkoutList .list .checkoutListItem{
    padding-top:6px ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.checkoutList .list .checkoutListItem .checkout-productDetails{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.checkoutList .list .checkoutListItem img{
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--gray);
    flex-shrink: 0;
}
.checkoutList .list .checkoutListItem .checkout-productDetails{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.checkoutList .list .checkoutListItem .checkout-productDetails .checkout-item-price{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.checkoutList .list .checkoutListItem .checkout-productDetails .checkout-item-price h6{
    color: var(--black);
    font-family: "Manrope";
    font-size: 15px;
    font-weight: 700;
    line-height:1.66em;
    margin: 0;
}
.checkoutList .list .checkoutListItem .checkout-productDetails .checkout-item-price span{
    color: rgba(0, 0, 0, 0.5);
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 700;
    line-height:25px;
}

.checkoutList .list .checkoutListItem .checkout-productsCount{
    color: rgba(0, 0, 0, 0.5);
    text-align: right;
    font-family: "Manrope";
    font-size: 15px;
    font-weight: 700;
    line-height: 1.66em;
}

.cartPriceCalculate{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.cartPriceCalculate div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cartPriceCalculate div span{
    color: rgba(0, 0, 0, 0.5);
    font-family: "Manrope";
    font-size: 15px;
    font-weight: 400;
    line-height: 1.66em;
}
.cartPriceCalculate div p{
    color: var(--black);
    text-align: right;
    font-family: "Manrope";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.cartPriceCalculate div .grandParagraph{
    color: #D87D4A;
    text-align: right;
    font-family: "Manrope";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.orderModal{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
}
.orderModal .orderModal-zone{
    border-radius: 8px;
    background: var(--white);
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 33px;
    max-height: 80vh; 
    overflow-y: auto;
}
.orderModal .orderModal-zone .orderTextZone{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.orderModal .orderModal-zone .orderTextZone h3{
    color: var(--black);
    font-family: "Manrope";
    font-size: 32px;
    font-weight: 700;
    line-height: 36px; 
    letter-spacing: 1.125px;
    text-transform: uppercase;
    min-width: 260px;
}
.orderModal .orderModal-zone .orderTextZone span{
    color: rgba(0, 0, 0, 0.5);
    font-family: "Manrope";
    font-size: 15px;
    font-weight: 400;
    line-height: 1.66em;
}
.order-container-wrapper{
   width: 100%;
   display: flex;
   justify-content: space-between;
   min-height: 150px;
}
.order-container-wrapper .orderList{
    width: 60%;
    list-style-type: none;
}
.order-container-wrapper .orderList .order-listItem{
    background: var(--gray);
    padding: 24px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-color: var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.order-container-wrapper .orderList .order-Items{
    width: 100%;
    display: flex;
    justify-content: center;
    border-top:1px solid rgba(0, 0, 0, 0.08);
    padding-top: 12px;
}
.order-container-wrapper .orderList .order-Items p{
    color: rgba(0, 0, 0, 0.5);
    font-family: "Manrope";
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -0.214px;
}
.order-container-wrapper .orderList .order-listItem .order-leftSide{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    padding-bottom: 12px;
}
.order-leftSide-wrapper{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}
.order-leftSide-wrapper .order-imgZone{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}
.order-leftSide-wrapper .order-imgZone img{
    display: block;
    width: 100%;
    height: 100%;
}
.order-leftSide-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.order-leftSide-text h3{
    margin:0;
    color: var(--black);
    font-family: "Manrope";
    font-size: 15px;
    font-weight: 700;
    line-height: 1.66em;
}
.order-leftSide-text span{
    color: rgba(0, 0, 0, 0.5);
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 700;
    line-height: 1.785em;
}

.orderCount span{
    color: rgba(0, 0, 0, 0.5);
    text-align: right;
    font-family: "Manrope";
    font-size: 15px;
    font-weight: 700;
    line-height: 1.66em;
}
.order-container-wrapper .order-rightSide{
    width: 40%;
    border-radius: 0px 8px 8px 0px;
    background: var(--black);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.order-container-wrapper .order-rightSide .order-priceSide{
    padding-left: 32px;
    padding-bottom: 40px;
}
.order-container-wrapper .order-rightSide .order-priceSide span{
    color: rgba(255,255,255,0.5);
    font-family: 'Manrope';
    font-size: 15px;
    font-weight: 400;
    line-height: 1.667em;
}

.order-container-wrapper .order-rightSide .order-priceSide p{
    color: #FFF;
    font-family: "Manrope";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.activeHeight{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 33px;
}
.order-buttonZone{
    width: 100%;
    padding-top: 13px;
}
@media (max-width:1240px) {
    .checkout-container{
        gap: 20px;

    }
}
@media (max-width:1180px) {
    .container{
        padding: 145px 80px 116px;
    }
    .checkout-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .checkout-container .checkout-leftSide{
        width: 100%;
    }
    .checkout-container .checkout-rightSide{
        width: 100%;
    }
    .alertWrapper{
        padding: 0px 39px;
    }
}
@media (max-width:1080px) {
    .container{
        padding: 150px 40px 116px;
    }
    .checkout-container{
        padding-top: 48px;
    }
}
@media (max-width:740px) {
    .container{
        padding:130px 24px 97px;
    }
    .alertWrapper{
        padding: 0px 24px;
    }
    .checkout-container .checkout-leftSide{
       padding: 30px 24px;
    }
    .checkout-container .checkout-rightSide{
       padding: 32px 24px;
    }
    .checkout-leftSide .checkout-billingDetails,
    .checkout-leftSide .checkout-shippingInfo,
    .checkout-leftSide .checkout-paymentDetails{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .checkout-leftSide .checkout-billingDetails .flex-input,
    .checkout-leftSide .checkout-shippingInfo .flex-input,
    .checkout-leftSide .checkout-paymentDetails .payment-method{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .order-container-wrapper .orderList .order-Items{
        margin-right: 60px;
    }
    .order-container-wrapper .order-rightSide .order-priceSide{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
    .spinnerWrapper{
        top: 135px;
    }
    .orderModal{
        top: 54%;
        padding: 0px 24px;
    }
    .orderModal .orderModal-zone{
        gap: 23px;
        padding: 32px;
        overflow-y: auto;
    }
    .order-container-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0;
        overflow-y: auto;
    }
    .order-container-wrapper .orderList{
        width: 100%;
    }
    .order-container-wrapper .order-rightSide{
        width: 100%;
    }
    .order-container-wrapper .order-rightSide  .order-priceSide{
        width: 100%;
        padding-top: 15px;
        padding-bottom: 19px;
    }
    .orderModal .orderModal-zone .orderTextZone h3{
        font-size: 24px;
        line-height: 28px; 
        letter-spacing: 0.857px;
    }
    .checkout-leftContainer-footer .footer-flex{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .checkout-container{
        padding-top: 24px;
    }
    .order-buttonZone{
        padding-top: 0px;
    }
}

@media (max-width:480px) {
    .spinnerWrapper {
        top: 110px;
    }
    .checkout-container{
        padding-top: 24px;
    }
    .container{
        padding-top: 108px;
    }
}
@media (max-height:740px) {
    .orderModal{
        top: 55%;
    }
}
@media (max-height:675px) {
    .orderModal{
        top: 58%;
    }
    .orderModal .orderModal-zone .orderTextZone{
        gap: 0px;
    }
    .orderModal .orderModal-zone{
        gap:10px;
        padding: 32px;
    }
}

@media (max-height:480px) {
    .orderModal{
        top: 59%;
    }
    .orderModal .orderModal-zone{
        gap:5px;
        padding: 22px;
    }
}