:root{
    --orange:#D87D4A;
    --darkLight-black:#101010;
    --light-black:#141414;
    --gray:#F1F1F1;
    --white-gray:#FAFAFA;
    --pink:#fbaf85;
    --white:#FFFFFF;
    --black:#000000;
    --light-gray:#CFCFCF;
}