.zone{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding-top: 79px;
    position: relative;
    min-height: 600px;
}
.spinnerAnimate{
    position: absolute;
    top: 120px;
    left: 48%;
}
.product-zone{
    padding: 89px 165px 0px;
}

.product-zone .goBackTag .navigateSpan{
    color: rgba(0,0,0,0.5);
    font-family: "Manrope";
    font-size: 15px;
    font-weight: 400;
    line-height: 1.667em;
    cursor: pointer;
}
.product-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 160px;
}

.product-headerSide{
    padding-top: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 125px;
}
.product-headerSide .product-imgSide{
    width: 55%;
    max-width: 740px;
    border-radius: 8px;
    background: var(--gray);
}

.product-headerSide .product-imgSide .desktopImg{
    width: 100%;
    display: block;
}
.product-headerSide .product-imgSide .tabletImg{
    display: none;
}
.product-headerSide .product-imgSide .mobileImg{
    display: none;
}
.product-headerSide .product-textSide{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
}
.product-headerSide .product-textSide p{
    color: #D87D4A;
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.product-headerSide .product-textSide h4{
    color: var(--black);
    font-family: "Manrope";
    font-size: 40px;
    font-weight: 700;
    line-height: 1.1em;
    letter-spacing: 1.429px;
    text-transform: uppercase;
}
.product-headerSide .product-textSide .descriptionSpan{
    width: 100%;
    color:rgba(0, 0, 0, 0.5);
    font-family: "Manrope";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}
.product-headerSide .product-textSide .priceLine{
    color: var(--black);
    font-family: "Manrope";
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.286px;
    text-transform: uppercase;
}

.product-commonZone{
    width: 100%;
    padding-top: 15px;
    display: flex;
    align-items: center;
    gap: 16px;
}
.product-commonZone .countZone{
    flex-shrink: 0;
    min-width: 155px;
    max-width: 155px;
    padding: 15px 15px 15px 15.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border: 1px solid var(--gray);
    background: var(--gray);
    height: 48px;
}

.product-commonZone .countZone input{
    border: none;
    text-align: center;
    outline: none;
    color: #000;
    text-align: center;
    font-family: "Manrope";
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: transparent;
    overflow: hidden;
}

.product-commonZone .countZone span{
    color: rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: "Manrope";
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.product-commonZone .countZone .decrease, .product-commonZone .countZone .increase{
    color: rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: "Manrope";
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}
.product-commonZone .countZone .decrease:hover, .product-commonZone .countZone .increase:hover{
    color: var(--orange);
    text-align: center;
    font-family: "Manrope";
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}
.product-commonZone .buttonZone{
    min-width:160px;
}

.product-middleSide{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 125px;
}
.product-middleSide .feature-side{
    width: 57%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
.product-middleSide .feature-side h4{
    color: var(--black);
    font-family: "Manrope";
    font-size: 32px;
    font-weight: 700;
    line-height: 1.125em;
    letter-spacing: 1.143px;
    text-transform: uppercase;
}
.product-middleSide .feature-side p{
    color: rgba(0, 0, 0, 0.5);
    font-family: "Manrope";
    font-size: 15px;
    font-weight: 400;
    line-height: 1.66em;
}
.product-middleSide .boxContains-side{
    width: 31%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
.product-middleSide .boxContains-side ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.product-middleSide .boxContains-side ul li{
    width: 100%;
    display: flex;
    gap: 24px;
}
.product-middleSide .boxContains-side h4{
    color: var(--black);
    font-family: "Manrope";
    font-size: 32px;
    font-weight: 700;
    line-height: 1.125em;
    letter-spacing: 1.143px;
    text-transform: uppercase;
}
.product-middleSide .boxContains-side ul li p{
    color: #D87D4A;
    font-family: "Manrope";
    font-size: 15px;
    font-weight: 700;
    line-height: 1.66em;
}
.product-middleSide .boxContains-side ul li span{
    color: rgba(0, 0, 0, 0.5);
    font-family: "Manrope";
    font-size: 15px;
    font-weight: 400;
    line-height: 1.66em;
}

.product-footerSide{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    gap: 32px;
}
.productFlexSide{
    display: flex;
    flex-direction: column;
    gap: 23.9px;
}
.product-footerSide img{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    display: block;
}

.other-products{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.commonZone{
    width: 100%;
    height: auto;
    background:var(--white);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding-top: 40px;
}
.other-products h6{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
    font-family: "Manrope";
    font-size: 32px;
    font-weight: 700;
    line-height: 1.125em;
    letter-spacing: 1.143px;
    text-transform: uppercase;
}
.other-products .list-zone{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;
}
.other-products .list-zone li{
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.other-products .list-zone li .list-item-imgZone{
   width:100%;
}
.other-products .list-zone li .list-item-imgZone .desktopImg{
    width: 100%;
    height: 100%;
    display: block;
}
.other-products .list-zone li .list-item-imgZone .mobileImg{
    display: none;
}

@media (min-width:1500px) {
    .product-headerSide .product-textSide .descriptionSpan{
        max-width: 500px;
    }
    .product-headerSide .product-textSide h4{
        max-width: 500px;
    }
}

@media (max-width:1180px) {
    .product-zone{
        padding: 80px 39px 0px;
    }
}

@media (max-width:1080px) {
    .product-zone{
        padding: 89px 39px 0px;
    }
    .product-details{
        gap: 120px;
    }
    .other-products{
        gap: 56px;
    }
    .other-products .list-zone{
        gap: 5px;
    }
    .product-headerSide{
        padding-top: 56px;
        gap: 70px;
    }
}

@media (max-width:992px) {
    .product-zone{
        padding: 42px 39px 0px;
    }
    .product-headerSide{
        padding-top: 24px;
    }
    .product-headerSide .product-imgSide .tabletImg{
        display: block;
    }
    .product-headerSide .product-imgSide .desktopImg{
        display: none;
    }
    .product-headerSide .product-textSide h4{
        font-size: 28px;
        line-height: 32px;
        letter-spacing: 1px;
    }
}

@media (max-width:892px) {
    .other-products h6{
        font-size: 24px;
        letter-spacing: 1.714px;
    }
    .product-commonZone{
        padding-top: 32px;
    }
    .product-footerSide {
        gap: 16px;
    }
    .productFlexSide{
        gap: 16px;
    }
}

@media (max-width:780px) {
    .product-headerSide .product-imgSide .mobileImg{
        display: block;
    }
    .product-headerSide .product-imgSide .tabletImg{
        display: none;
    }
    .product-headerSide{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }
    .product-details{
        gap: 88px;
    }
    .product-headerSide .product-imgSide{
        width: 100%;
    }
    .product-headerSide .product-imgSide .mobileImg{
        width: 100%;
    }
    .product-headerSide .product-textSide{
        width: 100%;
        gap: 24px;
    }
    .product-headerSide .product-textSide h4{
        width: 327px;
    }
    .product-headerSide .product-textSide p{
        width: 100%;
    }
    .product-headerSide .product-textSide .descriptionSpan{
        width: 100%;
    }
    .product-details{
        width: 100%;
    }
    .product-commonZone{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .product-commonZone.countZone{
        width: 50%;
    }
    .product-commonZone .buttonZone{
        width: 50%;
    }
    .product-middleSide{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 120px;
    }
    .product-middleSide .feature-side{
        width: 100%;
    }
    .product-middleSide .feature-side h4{
        width: 100%;
    }
    .product-middleSide .boxContains-side{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}
 
@media  (max-width:640px){
    .product-zone{
        padding: 36px 24px 0px;
    }
    .other-products .list-zone{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 56px;
        width: 100%;
    }
    .other-products .list-zone li {
        width: 100%;
    }
    .product-details{
        gap: 88px;
    }
    .other-products .list-zone li .list-item-imgZone .desktopImg{
        display: none;
    }
    .other-products .list-zone li .list-item-imgZone .mobileImg{
        display: block;
    }
    .other-products{
        gap: 40px;
    }
    .product-footerSide {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 16px;
    }
    .productFlexSide{
        width: 100%;
    }
}

@media (max-width:480px) {
    .product-middleSide{
        gap: 75px;
    }
    .product-middleSide .boxContains-side{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .spinnerAnimate{
        top: 85px;
    }
}

@media (max-width:450px){
    .product-zone{
        padding: 16px 15px 0px;
    }
}
@media (max-width:380px) {
    .product-commonZone{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}